<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Times
        link(rel="stylesheet", href="/css/time.css")
    body
        .value
            h2
                span#time_span
        script(src="/script/time.js")